<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjkopen.demo">

    <!-- 微信 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".module.comman.SplashActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
        android:name=".module.comman.CloseActivity"
        android:launchMode="singleTask">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <!-- <activity -->
        <!-- android:name=".module.comman.LoginActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" /> -->
        <activity
            android:name=".module.comman.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".module.vlayout.VHomeActivity" />
        <activity android:name=".module.search.SearchActivity" />
        <activity android:name=".module.shop.ShoppingCarActivity" />
        <activity
            android:name=".module.comman.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>